accelerate==1.2.1
av==14.1.0
huggingface-hub==0.28.1
minestudio
numpy==1.26.4
opencv-python
opencv-python-headless
pillow==10.4.0
ray
rich
sentencepiece==0.2.0
tokenizers==0.21.0
torch
torchaudio
torchvision
tqdm
transformers
vllm==0.8.2
